/*!
* direction.less v0.1.0
*/
/**
*Tree
*/
.u-tree {
  position: relative;
  float: left;
  min-height: 540px;
  width: 25%;
  border-right: 1px solid #DDDDDD!important;
}
.tree {
  position: relative;
  padding: 10px 15px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #BBBBBB;
  border-radius: 4px 4px 4px 4px;
}
.tree .tree-folder {
  width: 100%;
  min-height: 20px;
  margin-top: 1px;
  cursor: pointer;
}
.tree .tree-folder .tree-folder-header {
  position: relative;
  height: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.tree .tree-folder .tree-folder-header:hover {
  background-color: #dfeef5;
}
.tree .tree-folder .tree-folder-header i {
  position: relative;
  top: -1px;
}
.tree .tree-folder .tree-folder-header .tree-folder-name {
  display: inline;
  padding-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.tree .tree-folder .tree-folder-content {
  margin-left: 23px;
}
.tree .tree-item {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 1px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.tree .tree-item:hover {
  background-color: #dfeef5;
}
.tree .tree-item .tree-item-name {
  display: inline;
  position: relative;
  left: 4px;
  font-size: 14px;
}
.tree .tree-selected {
  background-color: #b9dff1;
}
.tree .tree-selected:hover {
  background-color: #b9dff1;
}
.tree .checkbox input {
  height: 20px;
  margin: 0 0 0 -20px;
}
.tree .radio,
.tree .checkbox {
  margin-top: 2px;
  margin-bottom: 2px;
}
/*==========以下部分是Validform必须的===========*/
.Validform_checktip {
  margin-left: 8px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  color: #999;
  font-size: 12px;
}
.Validform_right {
  color: #71b83d;
  padding-left: 20px;
  background: url(../img/right.png) no-repeat left center;
}
.Validform_wrong {
  color: red;
  padding-left: 20px;
  white-space: nowrap;
  background: url(../img/error.png) no-repeat left center;
}
.Validform_loading {
  padding-left: 20px;
  background: url(../img/onLoad.gif) no-repeat left center;
}
.Validform_error {
  background-color: #ffe7e7;
}
#Validform_msg {
  color: #7d8289;
  font: 12px;
  width: 280px;
  -webkit-box-shadow: 2px 2px 3px #aaa;
  -moz-box-shadow: 2px 2px 3px #aaa;
  background: #fff;
  position: absolute;
  top: 0px;
  right: 50px;
  z-index: 99999;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}
#Validform_msg .iframe {
  position: absolute;
  left: 0px;
  top: -1px;
  z-index: -1;
}
#Validform_msg .Validform_title {
  line-height: 25px;
  height: 25px;
  text-align: left;
  font-weight: bold;
  padding: 0 8px;
  color: #fff;
  position: relative;
  background-color: #000;
}
#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
  line-height: 22px;
  position: absolute;
  right: 8px;
  top: 0px;
  color: #fff;
  text-decoration: none;
}
#Validform_msg a.Validform_close:hover {
  color: #cc0;
}
#Validform_msg .Validform_info {
  padding: 8px;
  border: 1px solid #000;
  border-top: none;
  text-align: left;
}
.grid {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}
.grid.closed .grid-body {
  display: none;
  overflow: hidden;
}
.grid.box {
  padding: 0px !important;
}
.grid.box .form-horizontal.form-bordered .control-group {
  margin-left: -10px;
  margin-right: -10px;
}
.grid.box .form-horizontal.form-bordered .control-group:first-child {
  margin-top: -10px;
}
.grid.box .grid-title {
  padding: 8px 10px 2px 10px;
  border-bottom: 1px solid #eee;
  color: #ffffff !important;
  margin-bottom: 0px;
}
.grid.box .grid-title > .actions > .btn > i {
  color: #ffffff !important;
}
.grid.box .grid-title .tools {
  margin-top: 3px;
}
.grid.box .grid-title .tools a {
  background: url(@{base-img-url}/icon/portlet-tray.png) no-repeat;
  width: 23px;
  height: 23px;
}
.grid.box .grid-body {
  background-color: #ffffff;
  padding: 10px;
}
.grid.box.blue {
  border: 1px solid #b4cef8;
  border-top: 0;
}
.grid.box.blue .grid-title {
  background-color: #58acf3;
}
.grid.box.red {
  border: 1px solid #f35958;
  border-top: 0;
}
.grid.box.red .grid-title {
  background-color: #f35958;
}
.grid.box.yellow {
  border: 1px solid #fccb7e;
  border-top: 0;
}
.grid.box.yellow .grid-title {
  background-color: #ffb848;
}
.grid.box.green {
  border: 1px solid #0aa699;
  border-top: 0;
}
.grid.box.green .grid-title {
  background-color: #0aa699;
}
.grid.box.purple {
  border: 1px solid #af5cc1;
  border-top: 0;
}
.grid.box.purple .grid-title {
  background-color: #852b99;
}
.grid.box.grey {
  border: 1px solid #9d9c9c;
  border-top: 0;
}
.grid.box.grey .grid-title {
  background-color: #555555;
}
.grid.box.light-grey {
  border: 1px solid #eee;
  border-top: 0;
}
.grid.box.light-grey .grid-title {
  background-color: #aaa;
}
.grid .simple .form-actions {
  margin-left: -20px !important;
  margin-right: -20px !important;
  margin-bottom: -20px !important;
}
.grid .solid .grid-title {
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff;
}
.grid.solid .grid-title {
  margin-bottom: 5px;
  border: 0px;
  padding: 13px 15px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35) !important;
}
.grid.solid .grid-title .tools {
  margin-top: 2px;
  border: 0px;
}
.grid.solid .grid-title h4 {
  color: #ffffff;
}
.grid.solid .grid-body {
  color: #ffffff;
  padding: 20px;
}
.grid.solid .grid-body h3 {
  color: #ffffff;
}
.grid.simple {
  padding: 0px !important;
}
.grid.simple .grid-title {
  padding: 14px 15px 7px 15px;
  border-bottom: 1px solid #eee;
  color: #282323 !important;
  background-color: #ffffff;
  margin-bottom: 0px;
  border: 1px solid #dddddd;
  border-bottom: 0px;
}
.grid.simple .grid-title > .actions > .btn > i {
  color: #ffffff !important;
}
.grid.simple .grid-title .tools {
  margin-top: 0px;
  position: relative;
}
.grid.simple .grid-title.no-border {
  border: 0px;
  border-bottom: 0px;
}
.grid.simple .form-actions {
  margin-right: -26px !important;
  margin-left: -26px !important;
  margin-bottom: -26px !important;
}
.grid.simple.transparent .grid-body {
  background-color: transparent !important;
  border: none;
}
.grid.simple.transparent .grid-title {
  border: none;
  border-bottom: 1px solid #D7DBE0;
  background-color: transparent;
}
.grid.simple .grid-body {
  background-color: #ffffff;
  padding: 26px;
  border: 1px solid #dddddd;
  color: #6f7b8a;
}
.grid.simple .grid-body.no-padding {
  padding: 0px;
}
.grid.simple .grid-body .wrap-body {
  padding: 0 26px;
  padding-top: 10px;
}
.grid.simple .grid-body.no-border {
  border: 0px;
  padding-top: 1px;
}
.grid.simple .grid-body h4 {
  color: #282323;
}
.grid.simple .grid-body h3 {
  color: #282323;
}
.grid.simple .grid-body.invoice-body {
  padding: 30px;
}
.grid.simple .grid-body.invoice-body .invoice-logo {
  margin-bottom: 18px;
}
.grid.simple.vertical.green {
  border-left: 4px solid #0aa699;
  border-top: none !important;
}
.grid.simple.vertical.red {
  border-left: 4px solid #f35958;
  border-top: none !important;
}
.grid.simple.vertical.purple {
  border-left: 4px solid #736086;
  border-top: none !important;
}
.grid.simple.vertical.blue {
  border-left: 4px solid #0090d9;
  border-top: none !important;
}
.grid.simple.horizontal.red .grid-title {
  border-top: 4px solid #f35958;
}
.grid.simple.horizontal.yellow .grid-title {
  border-top: 4px solid #ffb848;
}
.grid.simple.horizontal.green .grid-title {
  border-top: 4px solid #0aa699;
}
.grid.simple.horizontal.purple .grid-title {
  border-top: 4px solid #852b99;
}
.grid.simple.horizontal.grey .grid-title {
  border-top: 4px solid #555555;
}
.grid.simple.horizontal.light-grey .grid-title {
  border-top: 4px solid #aaa;
}
.grid:after,
.grid:before {
  display: table;
}
.grid-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.grid-title h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-title h4 i {
  font-size: 14px;
  margin-right: 5px;
  color: #666;
}
.grid-title.descriptive {
  padding-left: 23px !important;
  padding-top: 20px !important;
}
.grid-title.descriptive .actions {
  margin-right: 14px;
  margin-top: -16px;
}
.grid-title.descriptive .actions a {
  color: #4c5264;
}
.grid-title.descriptive .actions a:hover {
  opacity: 0.5;
}
.grid-title.descriptive .actions i {
  font-size: 22px;
  margin-right: 10px;
}
.grid-title.descriptive p {
  display: inline-block;
  width: 60%;
  white-space: nowrap;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7a7d82;
  font-size: 12px;
}
.grid-title.clickable {
  cursor: pointer;
}
.grid-title .tools > a {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
}
.grid-title .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: .6;
}
.grid-title .dropdown-menu i {
  color: #000;
}
.grid-title .actions > .btn-group {
  margin-top: -12px;
}
.grid-title .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}
.grid-title .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}
.grid-title .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}
.grid-title .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}
.grid-title .tools,
.grid-title .actions {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}
.grid-body {
  clear: both;
  padding: 0;
}
.grid-body .btn-toolbar {
  margin: 0px !important;
  padding: 0px !important;
}
.grid-body .slimScrollBar {
  margin-right: 0px !important;
}
.grid-body.light-blue,
.grid.light-blue {
  background-color: #bfd5fa  !important;
}
.grid-body.blue,
.grid.blue {
  background-color: #58acf3 !important;
}
.grid-body.red,
.grid.red {
  background-color: #f35958 !important;
}
.grid-body.yellow,
.grid.yellow {
  background-color: #ffb848 !important;
}
.grid-body.green,
.grid.green {
  background-color: #0aa699 !important;
}
.grid-body.purple,
.grid.purple {
  background-color: #852b99 !important;
}
.grid-body.light-grey,
.grid.light-grey {
  background-color: #fafafa !important;
}
.grid-body.dark-grey,
.grid.dark-grey {
  background-color: #555555 !important;
}
.sortable .grid .grid-title {
  cursor: move;
}
.ui-sortable {
  min-height: 10px !important;
}
.ui-sortable-placeholder {
  border: 1px dotted black;
  visibility: visible !important;
  height: 100% !important;
}
.ui-sortable-placeholder * {
  visibility: hidden;
}
.sortable-box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  margin-top: 0px !important;
  margin-bottom: 24px !important;
}
.sortable-box-placeholder * {
  visibility: hidden;
}
.grid.simple .grid-title .tools a,
.grid.solid .grid-title .tools a {
  position: relative;
  transition: all 0.1s linear 0s;
  color: darkgray;
}
.grid.simple .grid-title .tools > a.config,
.grid.solid .grid-title .tools > a.config {
  width: 22px;
  height: 22px;
  background-color: darkgray;
  padding: 2px;
  border-radius: 20%;
  text-align: center;
}
.grid.simple .grid-title .tools > a.config > i,
.grid.solid .grid-title .tools > a.config > i {
  color: #fff;
}
.grid.simple .grid-title .tools > a.expand > i,
.grid.solid .grid-title .tools > a.expand > i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*!
 * Datetimepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Improvements by Sébastien Malot
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datetimepicker {
  padding: 4px;
  margin-top: 1px;
  white-space: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
}
.datetimepicker.datetimepicker-rtl {
  direction: rtl;
}
.datetimepicker.datetimepicker-rtl table tr td span {
  float: right;
}
.datetimepicker > div {
  display: none;
}
.datetimepicker.minutes div.datetimepicker-minutes {
  display: block;
}
.datetimepicker.hours div.datetimepicker-hours {
  display: block;
}
.datetimepicker.days div.datetimepicker-days {
  display: block;
}
.datetimepicker.months div.datetimepicker-months {
  display: block;
}
.datetimepicker.years div.datetimepicker-years {
  display: block;
}
.datetimepicker table {
  margin: 0;
}
.datetimepicker table tr td.minute:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datetimepicker table tr td.hour:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datetimepicker table tr td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datetimepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datetimepicker table tr td span:hover {
  background: #eeeeee;
}
.datetimepicker table tr td span.old {
  color: #999999;
}
.datetimepicker .datetimepicker-hours span {
  height: 26px;
  line-height: 26px;
}
.datetimepicker .datetimepicker-minutes span {
  height: 26px;
  line-height: 26px;
}
.datetimepicker th.switch {
  width: 145px;
}
.datetimepicker-inline {
  width: 220px;
}
.datetimepicker-dropdown,
.datetimepicker-dropdown-left {
  top: 0;
  left: 0;
}
[class*="datetimepicker-dropdown"]:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
[class*="datetimepicker-dropdown"]:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
}
[class*="datetimepicker-dropdown-top"]:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}
[class*="datetimepicker-dropdown-top"]:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}
.datetimepicker-dropdown-bottom-left:before {
  top: -7px;
  right: 6px;
}
.datetimepicker-dropdown-bottom-left:after {
  top: -6px;
  right: 7px;
}
.datetimepicker-dropdown-bottom-right:before {
  top: -7px;
  left: 6px;
}
.datetimepicker-dropdown-bottom-right:after {
  top: -6px;
  left: 7px;
}
.datetimepicker-dropdown-top-left:before {
  bottom: -7px;
  right: 6px;
}
.datetimepicker-dropdown-top-left:after {
  bottom: -6px;
  right: 7px;
}
.datetimepicker-dropdown-top-right:before {
  bottom: -7px;
  left: 6px;
}
.datetimepicker-dropdown-top-right:after {
  bottom: -6px;
  left: 7px;
}
.datetimepicker td,
.datetimepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
}
.table-striped .datetimepicker table tr td,
.table-striped .datetimepicker table tr th {
  background-color: transparent;
}
.datetimepicker table tr td.old,
.datetimepicker table tr td.new {
  color: #999999;
}
.datetimepicker table tr td.disabled,
.datetimepicker table tr td.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datetimepicker table tr td.today,
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: linear-gradient(top, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover,
.datetimepicker table tr td.today.disabled:hover,
.datetimepicker table tr td.today.disabled:hover:hover,
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today:hover.disabled,
.datetimepicker table tr td.today.disabled.disabled,
.datetimepicker table tr td.today.disabled:hover.disabled,
.datetimepicker table tr td.today[disabled],
.datetimepicker table tr td.today:hover[disabled],
.datetimepicker table tr td.today.disabled[disabled],
.datetimepicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a;
}
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active {
  background-color: #fbf069 \9;
}
.datetimepicker table tr td.active,
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active:hover:hover,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active.disabled:hover:hover,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active:hover.disabled,
.datetimepicker table tr td.active.disabled.disabled,
.datetimepicker table tr td.active.disabled:hover.disabled,
.datetimepicker table tr td.active[disabled],
.datetimepicker table tr td.active:hover[disabled],
.datetimepicker table tr td.active.disabled[disabled],
.datetimepicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datetimepicker .datetimepicker-hours table tr td span.hour_am,
.datetimepicker .datetimepicker-hours table tr td span.hour_pm {
  width: 14.6%;
}
.datetimepicker .datetimepicker-hours fieldset legend,
.datetimepicker .datetimepicker-minutes fieldset legend {
  margin-bottom: inherit;
  line-height: 30px;
}
.datetimepicker table tr td span.disabled,
.datetimepicker table tr td span.disabled:hover {
  background: none;
  color: #999999;
  cursor: default;
}
.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active:hover:hover,
.datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td span.active.disabled:hover:hover,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active:hover.disabled,
.datetimepicker table tr td span.active.disabled.disabled,
.datetimepicker table tr td span.active.disabled:hover.disabled,
.datetimepicker table tr td span.active[disabled],
.datetimepicker table tr td span.active:hover[disabled],
.datetimepicker table tr td span.active.disabled[disabled],
.datetimepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datetimepicker thead tr:first-child th,
.datetimepicker tfoot tr:first-child th {
  cursor: pointer;
}
.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i,
.input-group.date .input-group-addon span {
  cursor: pointer;
  width: 14px;
  height: 14px;
}
/*# sourceMappingURL=u.ext.css.map */